{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        selmer/selmer {:mvn/version "1.12.59"}
        org.clj-commons/hickory {:mvn/version "0.7.3"}}}
